<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Número 1: {{numero1}}</p>
    <p>Número 2: {{numero2}}</p>
    <p>Resultado {{ soma }}</p>
    <p>O maior número: {{ maior }}</p>
</body>
</html>

<!--
    https://dontpad.com/franciscosensaulas/python
    Criar a rota sistema/aluno com os seguintes campos:
        nome, nota 1, nota 2, nota 3
        direcionar para a rota sistema/calcular-media
    Criar a rota sistema/calcular-media que deverá:
        - Calcular a média
        - Criar uma string que contém Aprovado ou Em Exame ou Reprovado
        - Apresentar na tela a média, nome do aluno e status.
    Arquivos: views.py, urls.py (criar templates/aluno.html, templates/media.html) 
-->