{% extends 'base.html'%}


{% block conteudo %}
<h1 class="title">Cadastro de Categoria</h1>
<form action="/steamfake/categoria/cadastrar" method="post">
    {% csrf_token %}
    <div class="field">
        <label class="label">Nome</label>
        <div class="control">
            <input class="input" type="text" placeholder="Digite o nome da categoria" name="nome">
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link" type="submit">Cadastrar</button>
        </div>
    </div>
</form>
{% endblock %}