{% extends 'base.html' %}

{% block conteudo %}
<h1 class="title">Lista de Categorias</h1>
<a href="/steamfake/categoria/cadastro" class="button is-warning mb-2 is-pulled-right">
  <span class="icon is-small">
    <i class="fas fa-plus"></i>
  </span>
  <span>Nova Categoria</span>
</a>
<table class="table is-bordered is-striped is-hoverable is-fullwidth">
  <thead>
    <tr class="is-warning">
      <th>Código</th>
      <th>Nome</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    {% for categoria in categorias %}
    <tr>
      <td>{{ categoria.pk }}</td>
      <td>{{ categoria.nome }}</td>
      <td>
        <a href="/steamfake/categoria/editar/{{categoria.pk}}">Editar</a>
        <a href="/steamfake/categoria/apagar/{{categoria.pk}}">Apagar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}